# Mini Project - IronKaggle

## Imports

In [92]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

## Explore dataset

In [93]:
# load dataset
sales = pd.read_csv('sales.csv')
print(sales.info())
sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           640840 non-null  int64
 1   store_ID             640840 non-null  int64
 2   day_of_week          640840 non-null  int64
 3   date                 640840 non-null  object
 4   nb_customers_on_day  640840 non-null  int64
 5   open                 640840 non-null  int64
 6   promotion            640840 non-null  int64
 7   state_holiday        640840 non-null  object
 8   school_holiday       640840 non-null  int64
 9   sales                640840 non-null  int64
dtypes: int64(8), object(2)
memory usage: 48.9+ MB
None

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,425390,366,4,2013-04-18,517,1,0,0,0,4422
1,291687,394,6,2015-04-11,694,1,0,0,0,8297
2,411278,807,4,2013-08-29,970,1,1,0,0,9729
3,664714,802,2,2013-05-28,473,1,1,0,0,6513
4,540835,726,4,2013-10-10,1068,1,1,0,0,10882

In [94]:
# Let's drop the unnamed column and the store id
sales.drop(columns=['Unnamed: 0', 'store_ID'], inplace=True)
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          640840 non-null  int64
 1   date                 640840 non-null  object
 2   nb_customers_on_day  640840 non-null  int64
 3   open                 640840 non-null  int64
 4   promotion            640840 non-null  int64
 5   state_holiday        640840 non-null  object
 6   school_holiday       640840 non-null  int64
 7   sales                640840 non-null  int64
dtypes: int64(6), object(2)
memory usage: 39.1+ MB

In [95]:
# check for missing value
sales.isna().sum()

day_of_week            0
date                   0
nb_customers_on_day    0
open                   0
promotion              0
state_holiday          0
school_holiday         0
sales                  0
dtype: int64

In [96]:
# let's convert state holiday to integer values
sales = pd.get_dummies(sales, columns=['state_holiday'], drop_first=True)

print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          640840 non-null  int64
 1   date                 640840 non-null  object
 2   nb_customers_on_day  640840 non-null  int64
 3   open                 640840 non-null  int64
 4   promotion            640840 non-null  int64
 5   school_holiday       640840 non-null  int64
 6   sales                640840 non-null  int64
 7   state_holiday_a      640840 non-null  bool
 8   state_holiday_b      640840 non-null  bool
 9   state_holiday_c      640840 non-null  bool
dtypes: bool(3), int64(6), object(1)
memory usage: 36.1+ MB
None

In [97]:
# Now lets split dates into three columns
sales['date'] = pd.to_datetime(sales['date'], errors='coerce')
sales['year'] = sales['date'].dt.year
sales['month'] = sales['date'].dt.month
sales['day'] = sales['date'].dt.day
sales.drop('date', axis=1, inplace=True)  # drop date column
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          640840 non-null  int64
 1   nb_customers_on_day  640840 non-null  int64
 2   open                 640840 non-null  int64
 3   promotion            640840 non-null  int64
 4   school_holiday       640840 non-null  int64
 5   sales                640840 non-null  int64
 6   state_holiday_a      640840 non-null  bool
 7   state_holiday_b      640840 non-null  bool
 8   state_holiday_c      640840 non-null  bool
 9   year                 640840 non-null  int32
 10  month                640840 non-null  int32
 11  day                  640840 non-null  int32
dtypes: bool(3), int32(3), int64(6)
memory usage: 38.5 MB

In [98]:
# Convert bool features to integers
sales = sales.astype({col: 'int' for col in sales.select_dtypes(include='bool').columns})
print(sales.info())
sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          640840 non-null  int64
 1   nb_customers_on_day  640840 non-null  int64
 2   open                 640840 non-null  int64
 3   promotion            640840 non-null  int64
 4   school_holiday       640840 non-null  int64
 5   sales                640840 non-null  int64
 6   state_holiday_a      640840 non-null  int32
 7   state_holiday_b      640840 non-null  int32
 8   state_holiday_c      640840 non-null  int32
 9   year                 640840 non-null  int32
 10  month                640840 non-null  int32
 11  day                  640840 non-null  int32
dtypes: int32(6), int64(6)
memory usage: 44.0 MB
None

,day_of_week,nb_customers_on_day,open,promotion,school_holiday,sales,state_holiday_a,state_holiday_b,state_holiday_c,year,month,day
0,4,517,1,0,0,4422,0,0,0,2013,4,18
1,6,694,1,0,0,8297,0,0,0,2015,4,11
2,4,970,1,1,0,9729,0,0,0,2013,8,29
3,2,473,1,1,0,6513,0,0,0,2013,5,28
4,4,1068,1,1,0,10882,0,0,0,2013,10,10

In [99]:
# Drop outliers
from scipy import stats

# Step 1: Calculate the Z-score for 'sales' and 'nb_customers_on_day'
sales_z_scores = stats.zscore(sales['sales'])
customers_z_scores = stats.zscore(sales['nb_customers_on_day'])

# Step 2: Identify outliers (Z-score > 3 or Z-score < -3)
outliers_sales = (abs(sales_z_scores) > 3)
outliers_customers = (abs(customers_z_scores) > 3)

# Step 3: Remove the outliers from the dataset
sales_data_no_z_outliers = sales[~(outliers_sales | outliers_customers)]

# Display the size of the dataset after removing outliers
sales_data_no_z_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 629897 entries, 0 to 640839
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          629897 non-null  int64
 1   nb_customers_on_day  629897 non-null  int64
 2   open                 629897 non-null  int64
 3   promotion            629897 non-null  int64
 4   school_holiday       629897 non-null  int64
 5   sales                629897 non-null  int64
 6   state_holiday_a      629897 non-null  int32
 7   state_holiday_b      629897 non-null  int32
 8   state_holiday_c      629897 non-null  int32
 9   year                 629897 non-null  int32
 10  month                629897 non-null  int32
 11  day                  629897 non-null  int32
dtypes: int32(6), int64(6)
memory usage: 48.1 MB

In [100]:
# Lets save our target sales column and remove it from input features
y = sales_data_no_z_outliers['sales']
X = sales_data_no_z_outliers.drop('sales', axis=1)

print(X.info())
print()
print(y.info())

<class 'pandas.core.frame.DataFrame'>
Index: 629897 entries, 0 to 640839
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   day_of_week          629897 non-null  int64
 1   nb_customers_on_day  629897 non-null  int64
 2   open                 629897 non-null  int64
 3   promotion            629897 non-null  int64
 4   school_holiday       629897 non-null  int64
 5   state_holiday_a      629897 non-null  int32
 6   state_holiday_b      629897 non-null  int32
 7   state_holiday_c      629897 non-null  int32
 8   year                 629897 non-null  int32
 9   month                629897 non-null  int32
 10  day                  629897 non-null  int32
dtypes: int32(6), int64(5)
memory usage: 43.3 MB
None

<class 'pandas.core.series.Series'>
Index: 629897 entries, 0 to 640839
Series name: sales
Non-Null Count   Dtype
--------------   -----
629897 non-null  int64
dtypes: int64(1)
memory usage: 9.6 MB
None

## Split Dataset

In [101]:
# lets split the dataset and create our sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(503917, 11) (125980, 11)
(503917,) (125980,)

## Model 2: Random Forrest Regressor

In [102]:
# Random Forest

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Step 1: Initialize the Random Forest model
rf_model = RandomForestRegressor()

# Step 2: Train the Random Forest model on the training data
rf_model.fit(X_train, y_train)

# Step 3: Make predictions on the test set
y_pred_rf = rf_model.predict(X_test)

# Step 4: Evaluate the model's performance
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

mse_rf, r2_rf

(1773851.308667267, 0.8567705449002658)